<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 只定义一次，每个文件 appender 的 file 路径唯一 -->
    <appender name="CONFIG_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/nacos/config.log</file>
        <!-- ... -->
    </appender>
    <!-- 其他 appender ... -->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="CONFIG_LOG_FILE"/>
    </root>
</configuration>