<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etrackhis.autoproject.mapper.fixed.AiInterparmMapper">
 
    <resultMap type="com.etrackhis.autoproject.domain.AiInterparm" id="AiInterparmResult">
        <result property="rowId" column="ID" />
        <result property="wbjkid" column="WBJKID" />
        <result property="jkcsxh" column="JKCSXH" />
        <result property="jkcsyw" column="JKCSYW" />
        <result property="jkcszw" column="JKCSZW" />
        <result property="jkcsnr" column="JKCSNR" />
        <result property="jkcssm" column="JKCSSM" />
    </resultMap>
    
    <!--查询的表字段-->
    <sql id="selectVo">
        select ROWID as ID, WBJKID, JKCSXH, JKCSYW, JKCSZW, JKCSNR, JKCSSM from AI_INTERPARM
    </sql>
    
    <!--通过主键查询单条-->
    <select id="selectOneByKey" resultMap="AiInterparmResult">
        <include refid="selectVo"/>
        <where>
            WBJKID = #{wbjkid} and             
            JKCSXH = #{jkcsxh}  
        </where>
    </select>
    
    <!--通过对象查询单条-->
    <select id="selectOne" resultMap="AiInterparmResult">
        <include refid="selectVo"/>
        <where>
            1 = 1
            <if test="wbjkid != null and wbjkid != ''"> and WBJKID = #{wbjkid}</if> 
            <if test="jkcsxh != null"> and JKCSXH = #{jkcsxh}</if> 
            <if test="jkcsyw != null and jkcsyw != ''"> and JKCSYW = #{jkcsyw}</if> 
            <if test="jkcszw != null and jkcszw != ''"> and JKCSZW = #{jkcszw}</if> 
            <if test="jkcsnr != null and jkcsnr != ''"> and JKCSNR = #{jkcsnr}</if> 
            <if test="jkcssm != null and jkcssm != ''"> and JKCSSM = #{jkcssm}</if> 
        </where>
    </select>
    
    <!--通过Map参数根据查询单条-->
    <select id="selectOneByMap" resultMap="AiInterparmResult" parameterType="java.util.HashMap">
        <include refid="selectVo"/>
        <where>
            1 = 1
            <if test="wbjkid != null and wbjkid != ''"> and WBJKID = #{wbjkid}</if> 
            <if test="jkcsxh != null"> and JKCSXH = #{jkcsxh}</if> 
            <if test="jkcsyw != null and jkcsyw != ''"> and JKCSYW = #{jkcsyw}</if> 
            <if test="jkcszw != null and jkcszw != ''"> and JKCSZW = #{jkcszw}</if> 
            <if test="jkcsnr != null and jkcsnr != ''"> and JKCSNR = #{jkcsnr}</if> 
            <if test="jkcssm != null and jkcssm != ''"> and JKCSSM = #{jkcssm}</if> 
        </where>
    </select>
    
    <!--通过实体参数查询多行-->
    <select id="selectList" resultMap="AiInterparmResult">
        <include refid="selectVo"/>
        <where>
            1 = 1
            <if test="wbjkid != null and wbjkid != ''"> and WBJKID = #{wbjkid}</if> 
            <if test="jkcsxh != null"> and JKCSXH = #{jkcsxh}</if> 
            <if test="jkcsyw != null and jkcsyw != ''"> and JKCSYW = #{jkcsyw}</if> 
            <if test="jkcszw != null and jkcszw != ''"> and JKCSZW = #{jkcszw}</if> 
            <if test="jkcsnr != null and jkcsnr != ''"> and JKCSNR = #{jkcsnr}</if> 
            <if test="jkcssm != null and jkcssm != ''"> and JKCSSM = #{jkcssm}</if> 
        </where>
    </select>
    
    <!--通过Map参数查询多行-->
    <select id="selectListByMap" resultMap="AiInterparmResult" parameterType="java.util.HashMap">
        <include refid="selectVo"/>
        <where>
            1 = 1
            <if test="wbjkid != null and wbjkid != ''"> and WBJKID = #{wbjkid}</if> 
            <if test="jkcsxh != null"> and JKCSXH = #{jkcsxh}</if> 
            <if test="jkcsyw != null and jkcsyw != ''"> and JKCSYW = #{jkcsyw}</if> 
            <if test="jkcszw != null and jkcszw != ''"> and JKCSZW = #{jkcszw}</if> 
            <if test="jkcsnr != null and jkcsnr != ''"> and JKCSNR = #{jkcsnr}</if> 
            <if test="jkcssm != null and jkcssm != ''"> and JKCSSM = #{jkcssm}</if> 
        </where>
    </select>
    
    <select id="selectToMap" resultType="java.util.Map">
        select ${keyCol}, ${valueCol} from AI_INTERPARM
        <where>
            1 = 1
            <if test="wbjkid != null and wbjkid != ''"> and WBJKID = #{wbjkid}</if> 
            <if test="jkcsxh != null"> and JKCSXH = #{jkcsxh}</if> 
            <if test="jkcsyw != null and jkcsyw != ''"> and JKCSYW = #{jkcsyw}</if> 
            <if test="jkcszw != null and jkcszw != ''"> and JKCSZW = #{jkcszw}</if> 
            <if test="jkcsnr != null and jkcsnr != ''"> and JKCSNR = #{jkcsnr}</if> 
            <if test="jkcssm != null and jkcssm != ''"> and JKCSSM = #{jkcssm}</if> 
        </where>
    </select>
    
    <!--根据条件查询行数-->
    <select id="count" resultType="java.lang.Long">
        select count(*) from AI_INTERPARM
        <where>
            1 = 1
            <if test="wbjkid != null and wbjkid != ''"> and WBJKID = #{wbjkid}</if> 
            <if test="jkcsxh != null"> and JKCSXH = #{jkcsxh}</if> 
            <if test="jkcsyw != null and jkcsyw != ''"> and JKCSYW = #{jkcsyw}</if> 
            <if test="jkcszw != null and jkcszw != ''"> and JKCSZW = #{jkcszw}</if> 
            <if test="jkcsnr != null and jkcsnr != ''"> and JKCSNR = #{jkcsnr}</if> 
            <if test="jkcssm != null and jkcssm != ''"> and JKCSSM = #{jkcssm}</if> 
        </where>
    </select>
    
    <!--插入单条-->
    <insert id="insert">
        insert into AI_INTERPARM
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wbjkid != null">WBJKID,</if>
            <if test="jkcsxh != null">JKCSXH,</if>
            <if test="jkcsyw != null">JKCSYW,</if>
            <if test="jkcszw != null">JKCSZW,</if>
            <if test="jkcsnr != null">JKCSNR,</if>
            <if test="jkcssm != null">JKCSSM,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="wbjkid != null">#{wbjkid},</if>
            <if test="jkcsxh != null">#{jkcsxh},</if>
            <if test="jkcsyw != null">#{jkcsyw},</if>
            <if test="jkcszw != null">#{jkcszw},</if>
            <if test="jkcsnr != null">#{jkcsnr},</if>
            <if test="jkcssm != null">#{jkcssm},</if>
        </trim>
    </insert>
    
    <update id="update">
        update AI_INTERPARM
        <trim prefix="SET" suffixOverrides=",">   
            <if test="wbjkid != null">WBJKID = #{wbjkid},</if>
            <if test="jkcsxh != null">JKCSXH = #{jkcsxh},</if>
            <if test="jkcsyw != null">JKCSYW = #{jkcsyw},</if>
            <if test="jkcszw != null">JKCSZW = #{jkcszw},</if>
            <if test="jkcsnr != null">JKCSNR = #{jkcsnr},</if>
            <if test="jkcssm != null">JKCSSM = #{jkcssm},</if>
        </trim>
        <where>
            ROWID = #{rowId}
        </where>
    </update>
    
    <update id="updateByKey">
        update AI_INTERPARM
        <trim prefix="SET" suffixOverrides=",">   
            <if test="jkcsyw != null">JKCSYW = #{jkcsyw},</if>
            <if test="jkcszw != null">JKCSZW = #{jkcszw},</if>
            <if test="jkcsnr != null">JKCSNR = #{jkcsnr},</if>
            <if test="jkcssm != null">JKCSSM = #{jkcssm},</if>
        </trim>
        <where>
            WBJKID = #{wbjkid} and             
            JKCSXH = #{jkcsxh}  
        </where>
    </update> 
    
    <!--根据主键删除数据-->
    <delete id="remove">
        delete from AI_INTERPARM
        where
            WBJKID = #{wbjkid} and             
            JKCSXH = #{jkcsxh}  
    </delete>
    
    <!--自定义sql-->
</mapper>
