<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etrackhis.autoproject.mapper.fixed.GiDataformatdefineMapper">
 
    <resultMap type="com.etrackhis.autoproject.domain.GiDataformatdefine" id="GiDataformatdefineResult">
        <result property="rowId" column="ID" />
        <result property="sjgsid" column="SJGSID" />
        <result property="xtmklx" column="XTMKLX" />
        <result property="sjgdmc" column="SJGDMC" />
        <result property="sjgslx" column="SJGSLX" />
        <result property="sjjddm" column="SJJDDM" />
        <result property="xgczsj" column="XGCZSJ" />
        <result property="xgyhdm" column="XGYHDM" />
    </resultMap>
    
    <!--查询的表字段-->
    <sql id="selectVo">
        select ROWID as ID, SJGSID, XTMKLX, SJGDMC, SJGSLX, SJJDDM, XGCZSJ, XGYHDM from GI_DATAFORMATDEFINE
    </sql>
    
    <!--通过主键查询单条-->
    <select id="selectOneByKey" resultMap="GiDataformatdefineResult">
        <include refid="selectVo"/>
        <where>
            SJGSID = #{sjgsid}  
        </where>
    </select>
    
    <!--通过对象查询单条-->
    <select id="selectOne" resultMap="GiDataformatdefineResult">
        <include refid="selectVo"/>
        <where>
            1 = 1
            <if test="sjgsid != null and sjgsid != ''"> and SJGSID = #{sjgsid}</if> 
            <if test="xtmklx != null and xtmklx != ''"> and XTMKLX = #{xtmklx}</if> 
            <if test="sjgdmc != null and sjgdmc != ''"> and SJGDMC = #{sjgdmc}</if> 
            <if test="sjgslx != null and sjgslx != ''"> and SJGSLX = #{sjgslx}</if> 
            <if test="sjjddm != null and sjjddm != ''"> and SJJDDM = #{sjjddm}</if> 
            <if test="xgczsj != null"> and XGCZSJ = #{xgczsj}</if> 
            <if test="xgyhdm != null and xgyhdm != ''"> and XGYHDM = #{xgyhdm}</if> 
        </where>
    </select>
    
    <!--通过Map参数根据查询单条-->
    <select id="selectOneByMap" resultMap="GiDataformatdefineResult" parameterType="java.util.HashMap">
        <include refid="selectVo"/>
        <where>
            1 = 1
            <if test="sjgsid != null and sjgsid != ''"> and SJGSID = #{sjgsid}</if> 
            <if test="xtmklx != null and xtmklx != ''"> and XTMKLX = #{xtmklx}</if> 
            <if test="sjgdmc != null and sjgdmc != ''"> and SJGDMC = #{sjgdmc}</if> 
            <if test="sjgslx != null and sjgslx != ''"> and SJGSLX = #{sjgslx}</if> 
            <if test="sjjddm != null and sjjddm != ''"> and SJJDDM = #{sjjddm}</if> 
            <if test="xgczsj != null"> and XGCZSJ = #{xgczsj}</if> 
            <if test="xgyhdm != null and xgyhdm != ''"> and XGYHDM = #{xgyhdm}</if> 
        </where>
    </select>
    
    <!--通过实体参数查询多行-->
    <select id="selectList" resultMap="GiDataformatdefineResult">
        <include refid="selectVo"/>
        <where>
            1 = 1
            <if test="sjgsid != null and sjgsid != ''"> and SJGSID = #{sjgsid}</if> 
            <if test="xtmklx != null and xtmklx != ''"> and XTMKLX = #{xtmklx}</if> 
            <if test="sjgdmc != null and sjgdmc != ''"> and SJGDMC = #{sjgdmc}</if> 
            <if test="sjgslx != null and sjgslx != ''"> and SJGSLX = #{sjgslx}</if> 
            <if test="sjjddm != null and sjjddm != ''"> and SJJDDM = #{sjjddm}</if> 
            <if test="xgczsj != null"> and XGCZSJ = #{xgczsj}</if> 
            <if test="xgyhdm != null and xgyhdm != ''"> and XGYHDM = #{xgyhdm}</if> 
        </where>
    </select>
    
    <!--通过Map参数查询多行-->
    <select id="selectListByMap" resultMap="GiDataformatdefineResult" parameterType="java.util.HashMap">
        <include refid="selectVo"/>
        <where>
            1 = 1
            <if test="sjgsid != null and sjgsid != ''"> and SJGSID = #{sjgsid}</if> 
            <if test="xtmklx != null and xtmklx != ''"> and XTMKLX = #{xtmklx}</if> 
            <if test="sjgdmc != null and sjgdmc != ''"> and SJGDMC = #{sjgdmc}</if> 
            <if test="sjgslx != null and sjgslx != ''"> and SJGSLX = #{sjgslx}</if> 
            <if test="sjjddm != null and sjjddm != ''"> and SJJDDM = #{sjjddm}</if> 
            <if test="xgczsj != null"> and XGCZSJ = #{xgczsj}</if> 
            <if test="xgyhdm != null and xgyhdm != ''"> and XGYHDM = #{xgyhdm}</if> 
        </where>
    </select>
    
    <select id="selectToMap" resultType="java.util.Map">
        select ${keyCol}, ${valueCol} from GI_DATAFORMATDEFINE
        <where>
            1 = 1
            <if test="sjgsid != null and sjgsid != ''"> and SJGSID = #{sjgsid}</if> 
            <if test="xtmklx != null and xtmklx != ''"> and XTMKLX = #{xtmklx}</if> 
            <if test="sjgdmc != null and sjgdmc != ''"> and SJGDMC = #{sjgdmc}</if> 
            <if test="sjgslx != null and sjgslx != ''"> and SJGSLX = #{sjgslx}</if> 
            <if test="sjjddm != null and sjjddm != ''"> and SJJDDM = #{sjjddm}</if> 
            <if test="xgczsj != null"> and XGCZSJ = #{xgczsj}</if> 
            <if test="xgyhdm != null and xgyhdm != ''"> and XGYHDM = #{xgyhdm}</if> 
        </where>
    </select>
    
    <!--根据条件查询行数-->
    <select id="count" resultType="java.lang.Long">
        select count(*) from GI_DATAFORMATDEFINE
        <where>
            1 = 1
            <if test="sjgsid != null and sjgsid != ''"> and SJGSID = #{sjgsid}</if> 
            <if test="xtmklx != null and xtmklx != ''"> and XTMKLX = #{xtmklx}</if> 
            <if test="sjgdmc != null and sjgdmc != ''"> and SJGDMC = #{sjgdmc}</if> 
            <if test="sjgslx != null and sjgslx != ''"> and SJGSLX = #{sjgslx}</if> 
            <if test="sjjddm != null and sjjddm != ''"> and SJJDDM = #{sjjddm}</if> 
            <if test="xgczsj != null"> and XGCZSJ = #{xgczsj}</if> 
            <if test="xgyhdm != null and xgyhdm != ''"> and XGYHDM = #{xgyhdm}</if> 
        </where>
    </select>
    
    <!--插入单条-->
    <insert id="insert">
        insert into GI_DATAFORMATDEFINE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sjgsid != null">SJGSID,</if>
            <if test="xtmklx != null">XTMKLX,</if>
            <if test="sjgdmc != null">SJGDMC,</if>
            <if test="sjgslx != null">SJGSLX,</if>
            <if test="sjjddm != null">SJJDDM,</if>
            <if test="xgczsj != null">XGCZSJ,</if>
            <if test="xgyhdm != null">XGYHDM,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sjgsid != null">#{sjgsid},</if>
            <if test="xtmklx != null">#{xtmklx},</if>
            <if test="sjgdmc != null">#{sjgdmc},</if>
            <if test="sjgslx != null">#{sjgslx},</if>
            <if test="sjjddm != null">#{sjjddm},</if>
            <if test="xgczsj != null">#{xgczsj},</if>
            <if test="xgyhdm != null">#{xgyhdm},</if>
        </trim>
    </insert>
    
    <update id="update">
        update GI_DATAFORMATDEFINE
        <trim prefix="SET" suffixOverrides=",">   
            <if test="sjgsid != null">SJGSID = #{sjgsid},</if>
            <if test="xtmklx != null">XTMKLX = #{xtmklx},</if>
            <if test="sjgdmc != null">SJGDMC = #{sjgdmc},</if>
            <if test="sjgslx != null">SJGSLX = #{sjgslx},</if>
            <if test="sjjddm != null">SJJDDM = #{sjjddm},</if>
            <if test="xgczsj != null">XGCZSJ = #{xgczsj},</if>
            <if test="xgyhdm != null">XGYHDM = #{xgyhdm},</if>
        </trim>
        <where>
            ROWID = #{rowId}
        </where>
    </update>
    
    <update id="updateByKey">
        update GI_DATAFORMATDEFINE
        <trim prefix="SET" suffixOverrides=",">   
            <if test="xtmklx != null">XTMKLX = #{xtmklx},</if>
            <if test="sjgdmc != null">SJGDMC = #{sjgdmc},</if>
            <if test="sjgslx != null">SJGSLX = #{sjgslx},</if>
            <if test="sjjddm != null">SJJDDM = #{sjjddm},</if>
            <if test="xgczsj != null">XGCZSJ = #{xgczsj},</if>
            <if test="xgyhdm != null">XGYHDM = #{xgyhdm},</if>
        </trim>
        <where>
            SJGSID = #{sjgsid}  
        </where>
    </update> 
    
    <!--根据主键删除数据-->
    <delete id="remove">
        delete from GI_DATAFORMATDEFINE
        where
            SJGSID = #{sjgsid}  
    </delete>
    
    <!--自定义sql-->
</mapper>
