<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etrackhis.autoproject.mapper.fixed.IiTradetypeinfoMapper">
 
    <resultMap type="com.etrackhis.autoproject.domain.IiTradetypeinfo" id="IiTradetypeinfoResult">
        <result property="rowId" column="ID" />
        <result property="jylxid" column="JYLXID" />
        <result property="wbjkid" column="WBJKID" />
        <result property="zzjgdm" column="ZZJGDM" />
        <result property="jylxbm" column="JYLXBM" />
        <result property="jylxmc" column="JYLXMC" />
        <result property="jkjybm" column="JKJYBM" />
        <result property="jyrkly" column="JYRKLY" />
        <result property="jycsly" column="JYCSLY" />
        <result property="jyclly" column="JYCLLY" />
        <result property="zhsjid" column="ZHSJID" />
        <result property="xgyhdm" column="XGYHDM" />
        <result property="xgczsj" column="XGCZSJ" />
    </resultMap>
    
    <!--查询的表字段-->
    <sql id="selectVo">
        select ROWID as ID, JYLXID, WBJKID, ZZJGDM, JYLXBM, JYLXMC, JKJYBM, JYRKLY, JYCSLY, JYCLLY, ZHSJID, XGYHDM, XGCZSJ from II_TRADETYPEINFO
    </sql>
    
    <!--通过主键查询单条-->
    <select id="selectOneByKey" resultMap="IiTradetypeinfoResult">
        <include refid="selectVo"/>
        <where>
            JYLXID = #{jylxid}  
        </where>
    </select>
    
    <!--通过对象查询单条-->
    <select id="selectOne" resultMap="IiTradetypeinfoResult">
        <include refid="selectVo"/>
        <where>
            1 = 1
            <if test="jylxid != null and jylxid != ''"> and JYLXID = #{jylxid}</if> 
            <if test="wbjkid != null and wbjkid != ''"> and WBJKID = #{wbjkid}</if> 
            <if test="zzjgdm != null and zzjgdm != ''"> and ZZJGDM = #{zzjgdm}</if> 
            <if test="jylxbm != null and jylxbm != ''"> and JYLXBM = #{jylxbm}</if> 
            <if test="jylxmc != null and jylxmc != ''"> and JYLXMC = #{jylxmc}</if> 
            <if test="jkjybm != null and jkjybm != ''"> and JKJYBM = #{jkjybm}</if> 
            <if test="jyrkly != null and jyrkly != ''"> and JYRKLY = #{jyrkly}</if> 
            <if test="jycsly != null and jycsly != ''"> and JYCSLY = #{jycsly}</if> 
            <if test="jyclly != null and jyclly != ''"> and JYCLLY = #{jyclly}</if> 
            <if test="zhsjid != null and zhsjid != ''"> and ZHSJID = #{zhsjid}</if> 
            <if test="xgyhdm != null and xgyhdm != ''"> and XGYHDM = #{xgyhdm}</if> 
            <if test="xgczsj != null"> and XGCZSJ = #{xgczsj}</if> 
        </where>
    </select>
    
    <!--通过Map参数根据查询单条-->
    <select id="selectOneByMap" resultMap="IiTradetypeinfoResult" parameterType="java.util.HashMap">
        <include refid="selectVo"/>
        <where>
            1 = 1
            <if test="jylxid != null and jylxid != ''"> and JYLXID = #{jylxid}</if> 
            <if test="wbjkid != null and wbjkid != ''"> and WBJKID = #{wbjkid}</if> 
            <if test="zzjgdm != null and zzjgdm != ''"> and ZZJGDM = #{zzjgdm}</if> 
            <if test="jylxbm != null and jylxbm != ''"> and JYLXBM = #{jylxbm}</if> 
            <if test="jylxmc != null and jylxmc != ''"> and JYLXMC = #{jylxmc}</if> 
            <if test="jkjybm != null and jkjybm != ''"> and JKJYBM = #{jkjybm}</if> 
            <if test="jyrkly != null and jyrkly != ''"> and JYRKLY = #{jyrkly}</if> 
            <if test="jycsly != null and jycsly != ''"> and JYCSLY = #{jycsly}</if> 
            <if test="jyclly != null and jyclly != ''"> and JYCLLY = #{jyclly}</if> 
            <if test="zhsjid != null and zhsjid != ''"> and ZHSJID = #{zhsjid}</if> 
            <if test="xgyhdm != null and xgyhdm != ''"> and XGYHDM = #{xgyhdm}</if> 
            <if test="xgczsj != null"> and XGCZSJ = #{xgczsj}</if> 
        </where>
    </select>
    
    <!--通过实体参数查询多行-->
    <select id="selectList" resultMap="IiTradetypeinfoResult">
        <include refid="selectVo"/>
        <where>
            1 = 1
            <if test="jylxid != null and jylxid != ''"> and JYLXID = #{jylxid}</if> 
            <if test="wbjkid != null and wbjkid != ''"> and WBJKID = #{wbjkid}</if> 
            <if test="zzjgdm != null and zzjgdm != ''"> and ZZJGDM = #{zzjgdm}</if> 
            <if test="jylxbm != null and jylxbm != ''"> and JYLXBM = #{jylxbm}</if> 
            <if test="jylxmc != null and jylxmc != ''"> and JYLXMC = #{jylxmc}</if> 
            <if test="jkjybm != null and jkjybm != ''"> and JKJYBM = #{jkjybm}</if> 
            <if test="jyrkly != null and jyrkly != ''"> and JYRKLY = #{jyrkly}</if> 
            <if test="jycsly != null and jycsly != ''"> and JYCSLY = #{jycsly}</if> 
            <if test="jyclly != null and jyclly != ''"> and JYCLLY = #{jyclly}</if> 
            <if test="zhsjid != null and zhsjid != ''"> and ZHSJID = #{zhsjid}</if> 
            <if test="xgyhdm != null and xgyhdm != ''"> and XGYHDM = #{xgyhdm}</if> 
            <if test="xgczsj != null"> and XGCZSJ = #{xgczsj}</if> 
        </where>
    </select>
    
    <!--通过Map参数查询多行-->
    <select id="selectListByMap" resultMap="IiTradetypeinfoResult" parameterType="java.util.HashMap">
        <include refid="selectVo"/>
        <where>
            1 = 1
            <if test="jylxid != null and jylxid != ''"> and JYLXID = #{jylxid}</if> 
            <if test="wbjkid != null and wbjkid != ''"> and WBJKID = #{wbjkid}</if> 
            <if test="zzjgdm != null and zzjgdm != ''"> and ZZJGDM = #{zzjgdm}</if> 
            <if test="jylxbm != null and jylxbm != ''"> and JYLXBM = #{jylxbm}</if> 
            <if test="jylxmc != null and jylxmc != ''"> and JYLXMC = #{jylxmc}</if> 
            <if test="jkjybm != null and jkjybm != ''"> and JKJYBM = #{jkjybm}</if> 
            <if test="jyrkly != null and jyrkly != ''"> and JYRKLY = #{jyrkly}</if> 
            <if test="jycsly != null and jycsly != ''"> and JYCSLY = #{jycsly}</if> 
            <if test="jyclly != null and jyclly != ''"> and JYCLLY = #{jyclly}</if> 
            <if test="zhsjid != null and zhsjid != ''"> and ZHSJID = #{zhsjid}</if> 
            <if test="xgyhdm != null and xgyhdm != ''"> and XGYHDM = #{xgyhdm}</if> 
            <if test="xgczsj != null"> and XGCZSJ = #{xgczsj}</if> 
        </where>
    </select>
    
    <select id="selectToMap" resultType="java.util.Map">
        select ${keyCol}, ${valueCol} from II_TRADETYPEINFO
        <where>
            1 = 1
            <if test="jylxid != null and jylxid != ''"> and JYLXID = #{jylxid}</if> 
            <if test="wbjkid != null and wbjkid != ''"> and WBJKID = #{wbjkid}</if> 
            <if test="zzjgdm != null and zzjgdm != ''"> and ZZJGDM = #{zzjgdm}</if> 
            <if test="jylxbm != null and jylxbm != ''"> and JYLXBM = #{jylxbm}</if> 
            <if test="jylxmc != null and jylxmc != ''"> and JYLXMC = #{jylxmc}</if> 
            <if test="jkjybm != null and jkjybm != ''"> and JKJYBM = #{jkjybm}</if> 
            <if test="jyrkly != null and jyrkly != ''"> and JYRKLY = #{jyrkly}</if> 
            <if test="jycsly != null and jycsly != ''"> and JYCSLY = #{jycsly}</if> 
            <if test="jyclly != null and jyclly != ''"> and JYCLLY = #{jyclly}</if> 
            <if test="zhsjid != null and zhsjid != ''"> and ZHSJID = #{zhsjid}</if> 
            <if test="xgyhdm != null and xgyhdm != ''"> and XGYHDM = #{xgyhdm}</if> 
            <if test="xgczsj != null"> and XGCZSJ = #{xgczsj}</if> 
        </where>
    </select>
    
    <!--根据条件查询行数-->
    <select id="count" resultType="java.lang.Long">
        select count(*) from II_TRADETYPEINFO
        <where>
            1 = 1
            <if test="jylxid != null and jylxid != ''"> and JYLXID = #{jylxid}</if> 
            <if test="wbjkid != null and wbjkid != ''"> and WBJKID = #{wbjkid}</if> 
            <if test="zzjgdm != null and zzjgdm != ''"> and ZZJGDM = #{zzjgdm}</if> 
            <if test="jylxbm != null and jylxbm != ''"> and JYLXBM = #{jylxbm}</if> 
            <if test="jylxmc != null and jylxmc != ''"> and JYLXMC = #{jylxmc}</if> 
            <if test="jkjybm != null and jkjybm != ''"> and JKJYBM = #{jkjybm}</if> 
            <if test="jyrkly != null and jyrkly != ''"> and JYRKLY = #{jyrkly}</if> 
            <if test="jycsly != null and jycsly != ''"> and JYCSLY = #{jycsly}</if> 
            <if test="jyclly != null and jyclly != ''"> and JYCLLY = #{jyclly}</if> 
            <if test="zhsjid != null and zhsjid != ''"> and ZHSJID = #{zhsjid}</if> 
            <if test="xgyhdm != null and xgyhdm != ''"> and XGYHDM = #{xgyhdm}</if> 
            <if test="xgczsj != null"> and XGCZSJ = #{xgczsj}</if> 
        </where>
    </select>
    
    <!--插入单条-->
    <insert id="insert">
        insert into II_TRADETYPEINFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jylxid != null">JYLXID,</if>
            <if test="wbjkid != null">WBJKID,</if>
            <if test="zzjgdm != null">ZZJGDM,</if>
            <if test="jylxbm != null">JYLXBM,</if>
            <if test="jylxmc != null">JYLXMC,</if>
            <if test="jkjybm != null">JKJYBM,</if>
            <if test="jyrkly != null">JYRKLY,</if>
            <if test="jycsly != null">JYCSLY,</if>
            <if test="jyclly != null">JYCLLY,</if>
            <if test="zhsjid != null">ZHSJID,</if>
            <if test="xgyhdm != null">XGYHDM,</if>
            <if test="xgczsj != null">XGCZSJ,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jylxid != null">#{jylxid},</if>
            <if test="wbjkid != null">#{wbjkid},</if>
            <if test="zzjgdm != null">#{zzjgdm},</if>
            <if test="jylxbm != null">#{jylxbm},</if>
            <if test="jylxmc != null">#{jylxmc},</if>
            <if test="jkjybm != null">#{jkjybm},</if>
            <if test="jyrkly != null">#{jyrkly},</if>
            <if test="jycsly != null">#{jycsly},</if>
            <if test="jyclly != null">#{jyclly},</if>
            <if test="zhsjid != null">#{zhsjid},</if>
            <if test="xgyhdm != null">#{xgyhdm},</if>
            <if test="xgczsj != null">#{xgczsj},</if>
        </trim>
    </insert>
    
    <update id="update">
        update II_TRADETYPEINFO
        <trim prefix="SET" suffixOverrides=",">   
            <if test="jylxid != null">JYLXID = #{jylxid},</if>
            <if test="wbjkid != null">WBJKID = #{wbjkid},</if>
            <if test="zzjgdm != null">ZZJGDM = #{zzjgdm},</if>
            <if test="jylxbm != null">JYLXBM = #{jylxbm},</if>
            <if test="jylxmc != null">JYLXMC = #{jylxmc},</if>
            <if test="jkjybm != null">JKJYBM = #{jkjybm},</if>
            <if test="jyrkly != null">JYRKLY = #{jyrkly},</if>
            <if test="jycsly != null">JYCSLY = #{jycsly},</if>
            <if test="jyclly != null">JYCLLY = #{jyclly},</if>
            <if test="zhsjid != null">ZHSJID = #{zhsjid},</if>
            <if test="xgyhdm != null">XGYHDM = #{xgyhdm},</if>
            <if test="xgczsj != null">XGCZSJ = #{xgczsj},</if>
        </trim>
        <where>
            ROWID = #{rowId}
        </where>
    </update>
    
    <update id="updateByKey">
        update II_TRADETYPEINFO
        <trim prefix="SET" suffixOverrides=",">   
            <if test="wbjkid != null">WBJKID = #{wbjkid},</if>
            <if test="zzjgdm != null">ZZJGDM = #{zzjgdm},</if>
            <if test="jylxbm != null">JYLXBM = #{jylxbm},</if>
            <if test="jylxmc != null">JYLXMC = #{jylxmc},</if>
            <if test="jkjybm != null">JKJYBM = #{jkjybm},</if>
            <if test="jyrkly != null">JYRKLY = #{jyrkly},</if>
            <if test="jycsly != null">JYCSLY = #{jycsly},</if>
            <if test="jyclly != null">JYCLLY = #{jyclly},</if>
            <if test="zhsjid != null">ZHSJID = #{zhsjid},</if>
            <if test="xgyhdm != null">XGYHDM = #{xgyhdm},</if>
            <if test="xgczsj != null">XGCZSJ = #{xgczsj},</if>
        </trim>
        <where>
            JYLXID = #{jylxid}  
        </where>
    </update> 
    
    <!--根据主键删除数据-->
    <delete id="remove">
        delete from II_TRADETYPEINFO
        where
            JYLXID = #{jylxid}  
    </delete>
    
    <!--自定义sql-->
</mapper>
